* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#main-heading{
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}

#main-list{
    margin-right: auto;
    margin-left: 45%;
}

#main-list a{
    background-color: black;
    color: bisque;
    font-size: 30px;
}


h1{
    font-size: 40px;
    text-decoration: underline;
}

img{
    width: 800px;
    height: 450px;
}

.description{
    background-color: yellowgreen;
}

h4, a{
    font-size: small;
}
